.ctitle{
	// text-align: center;
  font-size: 18px;
    color: #FABA52;
}
.titleclass{
	text-align: center;
  padding-top: 7px;
}
.ios{
	.titleclass{
		text-align: center; padding-top: 8px;
	}
}
.container{
  margin:0px 24px;
}
.header-menu{
  margin: 0px 2px 0px 19%;
}
h1.header-head {
  color: #FABA52;
  font-size: 18px;
  font-weight: normal;
  margin: 0px;
  margin: 15px 0px 15px 33%;
  font-family: 'Poppins', sans-serif;
}
.header {
  display: flex;
  //margin: 0px 25px 0px;
  // background: #F3F3F3;
  text-align: center;
  padding: 0px;

}
ion-segment {
  padding: 3px 3px;
  border-radius: 5px;
  margin-top: 10px;
  --background: #fff;
  width: 85%;
  margin: 5% auto;
  ion-segment-button {
    --border-width: 0;
    --margin-bottom: 5px;
    --margin-top: 5px;
    border-radius: 5px;
    --background-checked: #FFA00A;
    --indicator-color: transparent !important;
    --color: #CECECE;
    --color-checked: #fff;
    font-size: 14px;
    font-weight: 500;
  }
}
p.para {
  font-size: 21px;
  font-weight: normal;
  color: #000000;
  margin: 34px auto 13px;
}
ion-col.md.hydrated {
  padding: 0px;
  text-align: center;
}
.ion-column{
  font-size: 14px;
  font-weight: normal;
}
.grid-div {
  width: 85%;
  margin: 13px auto;
}



ion-tabs{
	ion-fab {
		margin-bottom: env(safe-area-inset-bottom); /* fix notch ios*/
		ion-fab-button {
      --box-shadow: rgba(100, 100, 111, 0.2) 0px 0px 10px 0px;
      --background: none;
		}
	}
	ion-tab-bar {
		--border: 0;
		--background: transparent;
		position: absolute;
		bottom: 0;
		left:0; right: 0;
		width: 100%;
		&:after{
			content: " ";
			width: 100%;
			bottom: 0;
			background: var(--ion-color-light);
			height: env(safe-area-inset-bottom);
			position: absolute;
		}
		ion-tab-button {
      background:#fff;
      ion-icon{
        color:#42474F;
      }
		}
		ion-tab-button.comments {
			margin-right: 0px;
			border-top-right-radius: 18px;
		}
		ion-tab-button.notifs {
			margin-left: 0px;
			border-top-left-radius: 18px;
		}
		svg {
			width: 72px;
			margin-top: 19px;
			path{
        fill:#fff;
			}
		}
	}
}
