.wrapper{
  background:#fff;
  width: 90%;
  margin: 8% auto;
}
.icondiv{
  text-align: end;
}
.textdiv{
  text-align: center;
}
.imgdiv{
  text-align: center;
}
.text1{
  color: #FFA00A;
  font-size: 24px;
  font-weight: 900;
}
.text2{
  font-size: 16px;
  color: #212A37;
}
