<ion-header [translucent]="true" class="ion-no-border cheader">
  <ion-toolbar class="headBgGlobal">
    <ion-row>
      <ion-col style="padding-top:10px;text-align: center;" size="2">

        <img src="assets/imgs/icons/back.svg" class="topicon" (click)="goback()">

      </ion-col>

      <ion-col class="titleclass" size="8">
        <ion-text class="ctitle">Profile Preview</ion-text>
      </ion-col>

      <ion-col size="2" style="padding-top:8px;padding-left:20px;" (click)="editprofile()">
        <img src="assets/imgs/icons/edit.svg" style="width: 31px;
        height:31px;border-radius: 50px;">
      </ion-col>
    </ion-row>
  </ion-toolbar>

</ion-header>

<ion-content class="bg">
  <div class="container">
    <div class="start">
      <img src="assets/imgs/andrew.png" alt="profile-img">
      <p class="para">Andrew Konalk</p>
    </div>
    <div class="profile-info" style="padding-top: 6px;">
      <ion-grid style="padding-bottom: 0px; ">
        <ion-row>
          <ion-col size="4.2" style="padding-top: 0px; padding-bottom: 0px; ">
            <p class="p-size">NIN Number</p>
          </ion-col>
          <ion-col style="padding-top: 0px; padding-bottom: 0px;">
            <p class="p-size">994799649455145</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="profile-info">
      <ion-grid style="padding-bottom: 0px; ">
        <ion-row>
          <ion-col size="4.2" style="padding-top: 0px; padding-bottom: 0px; ">
            <p class="p-size">Gender</p>
          </ion-col>
          <ion-col style="padding-top: 0px; padding-bottom: 0px;">
            <p class="p-size">Male</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="profile-info">
      <ion-grid style="padding-bottom: 0px; ">
        <ion-row>
          <ion-col size="4.2" style="padding-top: 0px; padding-bottom: 0px; ">
            <p class="p-size">Age</p>
          </ion-col>
          <ion-col style="padding-top: 0px; padding-bottom: 0px;">
            <p class="p-size">23</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="profile-info">
      <ion-grid style="padding-bottom: 0px; ">
        <ion-row>
          <ion-col size="4.2" style="padding-top: 0px; padding-bottom: 0px; ">
            <p class="p-size">Salary</p>
          </ion-col>
          <ion-col style="padding-top: 0px; padding-bottom: 0px;">
            <p class="p-size">$30,000 to $ 40,000</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="profile-info">
      <ion-grid style="padding-bottom: 0px; ">
        <ion-row>
          <ion-col size="4.2" style="padding-top: 0px; padding-bottom: 0px; ">
            <p class="p-size">Address</p>
          </ion-col>
          <ion-col style="padding-top: 0px; padding-bottom: 0px;">
            <p class="p-size">United Kingdoms</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="profile-info">
      <ion-grid style="padding-bottom: 0px; ">
        <ion-row>
          <ion-col size="4.2" style="padding-top: 0px; padding-bottom: 0px; ">
            <p class="p-size">Mobile no.</p>
          </ion-col>
          <ion-col style="padding-top: 0px; padding-bottom: 0px;">
            <p class="p-size">+923026503481</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="profile-info">
      <ion-grid style="padding-bottom: 0px; ">
        <ion-row>
          <ion-col size="4.2" style="padding-top: 0px; padding-bottom: 0px; ">
            <p class="p-size">Job Status</p>
          </ion-col>
          <ion-col style="padding-top: 0px; padding-bottom: 0px;">
            <p class="p-size">Hired</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="profile-info">
      <ion-grid style="padding-bottom: 0px; ">
        <ion-row>
          <ion-col size="4.2" style="padding-top: 0px; padding-bottom: 0px; ">
            <p class="p-size">Stat Of Origin</p>
          </ion-col>
          <ion-col style="padding-top: 0px; padding-bottom: 0px;">
            <p class="p-size">Abuja</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="profile-info">
      <ion-grid style="padding-bottom: 0px; ">
        <ion-row>
          <ion-col size="4.2" style="padding-top: 0px; padding-bottom: 0px; ">
            <p class="p-size">Religion</p>
          </ion-col>
          <ion-col style="padding-top: 0px; padding-bottom: 0px;">
            <p class="p-size">Islam</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="profile-info">
      <ion-grid style="padding-bottom: 0px; ">
        <ion-row>
          <ion-col size="4.2" style="padding-top: 0px; padding-bottom: 0px; ">
            <p class="p-size">Tribe</p>
          </ion-col>
          <ion-col style="padding-top: 0px; padding-bottom: 0px;">
            <p class="p-size">Yoruba</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="profile-info">
      <ion-grid style="padding-bottom: 0px; ">
        <ion-row>
          <ion-col size="4.2" style="padding-top: 0px; padding-bottom: 0px; ">
            <p class="p-size">Height</p>
          </ion-col>
          <ion-col style="padding-top: 0px; padding-bottom: 0px;">
            <p class="p-size">5'6"</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="profile-info">
      <ion-grid style="padding-bottom: 0px; ">
        <ion-row>
          <ion-col size="4.2" style="padding-top: 0px; padding-bottom: 0px; ">
            <p class="p-size">Complexion</p>
          </ion-col>
          <ion-col style="padding-top: 0px; padding-bottom: 0px;">
            <p class="p-size">Dark</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="profile-info">
      <ion-grid style="padding-bottom: 0px; ">
        <ion-row>
          <ion-col size="4.2" style="padding-top: 0px; padding-bottom: 0px; ">
            <p class="p-size">Disability</p>
          </ion-col>
          <ion-col style="padding-top: 0px; padding-bottom: 0px;">
            <p class="p-size">Yes</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="profile-info" style="padding-bottom: 20px;">
      <ion-grid style="padding-bottom: 0px; ">
        <ion-row>
          <ion-col size="4.2" style="padding-top: 0px; padding-bottom: 0px; ">
            <p class="p-size">Disability Type</p>
          </ion-col>
          <ion-col style="padding-top: 0px; padding-bottom: 0px;">
            <p class="p-size">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
              invidunt ut labore et dolore.</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <!-- ------------------------------------------------------------------------------ -->
    <div class="second-section">
      <div class="group">
        <h1 class="heading">Language & Skills</h1>
        <div class="badges" style="padding-bottom: 17px;">
          <ion-badge class="badge-style badge-style1 ba-con">English</ion-badge>
          <ion-badge class="badge-style badge-style2 ba-con">Spansih</ion-badge>
          <ion-badge class="badge-style badge-style2 ba-con" style="margin-right: 13px;">MySQL</ion-badge>
          <ion-badge class="badge-style badge-style1 ba-con">Angular</ion-badge>
          <ion-badge class="badge-style badge-style1 ba-con" style="margin-left: 0px;">React.js</ion-badge>
        </div>
      </div>
    </div>

    <div class="third-section">
      <div class="edu-group">
        <h2 class="heading2">Education</h2>
        <div class="edu-detail">
          <p class="edu-para">University of Manchester</p>
          <h1 class="gradu">Graduation</h1>
          <p class="edu-para">Professional Qualification in 2011</p>
        </div>
        <div class="edu-detail2">
          <h2 class="edu-ls-detail" style="padding-right: 33px;">23 Oct 2006-07 Jun 2011</h2>
          <h2 class="edu-ls-detail">United Kingdoms</h2>
        </div>
      </div>
    </div>

    <div class="fourth-section">
      <div class="employe-group">
        <h2 class="heading2" style="margin: 0px 80px 0px;">Employment History</h2>
        <p class="edu-para">Pippa Swan</p>
        <h1 class="gradu">Historic Buildings</h1>

        <div class="list-div" style="margin-top: 10px;">
          <ul style="display: flex; margin: 0px; padding: 0px;">
            <li style="margin: 0px;margin-left: 15px;" class="edu-para">Private Homes</li>
            <li style="margin: 0px;margin-left: 22px;" class="edu-para">Master Planning</li>
            <li style="margin: 0px;margin-left: 22px;" class="edu-para">Reports</li>
          </ul>
        </div>

        <p class="edu-para" style="margin-top: 3px; margin-bottom: 10px;">The practice is able to draw on the skills of
          a number of recognised experts in the field of historic buildings including conservation engineer and
          architectural historian.</p>
        <div class="edu-detail2">
          <h2 class="edu-ls-detail" style="padding-right: 33px;">23 Oct 2006-07 Jun 2011</h2>
          <h2 class="edu-ls-detail">United Kingdoms</h2>
        </div>
      </div>
    </div>

    <div class="last-section">
      <div class="certificate-group">
        <h2 class="heading2" style="margin: 0px 79px 0px;">Certifcates & Awards</h2>
        <p class="edu-para" style="margin: 10px 0px 0px ; text-align: left;">Lorem ipsum dolor sit amet, consectetur
          adipiscing elit. Nam neque elit, dapibus vel sollicitudin vitae, egestas non elit. Duis laoreet, sem vel
          faucibus ullamcorper, erat eros consequat lectus, sit amet consequat tellus nunc sed leo. Suspendisse vel
          tortor cursus, consectetur enim eget, eleifend velit.</p>
      </div>
    </div>


  </div>
</ion-content>


<ion-footer>
  <ion-tabs>

    <ion-fab vertical="bottom" horizontal="center" translucent="true">
      <ion-fab-button (click)="tablink(1)">
        <img src="assets/imgs/Group.svg">
      </ion-fab-button>
    </ion-fab>

    <ion-tab-bar slot="bottom" class="ion-no-border">
      <ion-tab-button (click)="tablink(2)">
        <!-- <ion-icon name="search-outline"></ion-icon> -->
        <img src="assets/imgs/icons/search.svg">
      </ion-tab-button>

      <ion-tab-button class="comments" (click)="tablink(3)">
        <!-- <ion-icon name="heart-outline"></ion-icon> -->
        <img src="assets/imgs/icons/heartimg.svg">
        <!-- <ion-badge *ngIf="new_message">{{new_message}}</ion-badge> -->
      </ion-tab-button>

      <svg height="50" viewBox="0 0 100 50" width="100" xmlns="http://www.w3.org/2000/svg">
        <path d="M100 0v50H0V0c.543 27.153 22.72 49 50 49S99.457 27.153 99.99 0h.01z" fill="red" fill-rule="evenodd">
        </path>
      </svg>

      <ion-tab-button class="notifs" (click)="tablink(4)">
        <img src="assets/imgs/icons/user.svg">
        <!-- <ion-icon name="person-outline"></ion-icon> -->
        <!-- <ion-badge *ngIf="new_activities">{{new_activities}}</ion-badge> -->
      </ion-tab-button>

      <ion-tab-button (click)="tablink(5)">
        <!-- <ion-icon name="settings-outline"></ion-icon> -->
        <img src="assets/imgs/icons/setting.svg">
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-footer>
