<ion-header [translucent]="true" class="ion-no-border cheader">
  <ion-toolbar class="headBgGlobal">
    <ion-row>
      <ion-col style="padding-top:10px;text-align: center;" size="2">

        <img src="assets/imgs/icons/back.svg" class="topicon" (click)="goback()">

      </ion-col>

      <ion-col class="titleclass" size="8">
        <ion-text class="ctitle">Profile Preview</ion-text>
      </ion-col>

      <ion-col size="2" style="padding-top:8px;padding-left:20px;" (click)="editprofile()">
        <img src="assets/imgs/icons/edit.svg" style="width: 31px;
        height:31px;border-radius: 50px;">
      </ion-col>
    </ion-row>
  </ion-toolbar>

</ion-header>

<ion-content class="bg">
  <div class="container">
    <div class="start">
      <img src="assets/imgs/andrew.png" alt="profile-img">
      <p class="para">{{fullname}}</p>
    </div>
    <div class="profile-info" style="padding-top: 6px;">
      <ion-grid style="padding-bottom: 0px; ">
        <ion-row>
          <ion-col size="4.2" style="padding-top: 0px; padding-bottom: 0px; ">
            <p class="p-size">NIN Number</p>
          </ion-col>
          <ion-col style="padding-top: 0px; padding-bottom: 0px;">
            <p class="p-size">{{identification_no}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="profile-info">
      <ion-grid style="padding-bottom: 0px; ">
        <ion-row>
          <ion-col size="4.2" style="padding-top: 0px; padding-bottom: 0px; ">
            <p class="p-size">Gender</p>
          </ion-col>
          <ion-col style="padding-top: 0px; padding-bottom: 0px;">
            <p class="p-size">{{gender}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="profile-info">
      <ion-grid style="padding-bottom: 0px; ">
        <ion-row>
          <ion-col size="4.2" style="padding-top: 0px; padding-bottom: 0px; ">
            <p class="p-size">Age</p>
          </ion-col>
          <ion-col style="padding-top: 0px; padding-bottom: 0px;">
            <p class="p-size">{{age}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <!-- <div class="profile-info">
      <ion-grid style="padding-bottom: 0px; ">
        <ion-row>
          <ion-col size="4.2" style="padding-top: 0px; padding-bottom: 0px; ">
            <p class="p-size">Salary</p>
          </ion-col>
          <ion-col style="padding-top: 0px; padding-bottom: 0px;">
            <p class="p-size">{{salary}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div> -->
    <div class="profile-info">
      <ion-grid style="padding-bottom: 0px; ">
        <ion-row>
          <ion-col size="4.2" style="padding-top: 0px; padding-bottom: 0px; ">
            <p class="p-size">Address</p>
          </ion-col>
          <ion-col style="padding-top: 0px; padding-bottom: 0px;">
            <p class="p-size">{{nationality}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="profile-info">
      <ion-grid style="padding-bottom: 0px; ">
        <ion-row>
          <ion-col size="4.2" style="padding-top: 0px; padding-bottom: 0px; ">
            <p class="p-size">Mobile no.</p>
          </ion-col>
          <ion-col style="padding-top: 0px; padding-bottom: 0px;">
            <p class="p-size">{{phone}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="profile-info">
      <ion-grid style="padding-bottom: 0px; ">
        <ion-row>
          <ion-col size="4.2" style="padding-top: 0px; padding-bottom: 0px; ">
            <p class="p-size">Job Status</p>
          </ion-col>
          <ion-col style="padding-top: 0px; padding-bottom: 0px;">
            <p class="p-size">{{seekerstatus}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="profile-info">
      <ion-grid style="padding-bottom: 0px; ">
        <ion-row>
          <ion-col size="4.2" style="padding-top: 0px; padding-bottom: 0px; ">
            <p class="p-size">Stat Of Origin</p>
          </ion-col>
          <ion-col style="padding-top: 0px; padding-bottom: 0px;">
            <p class="p-size">{{state}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <!-- <div class="profile-info">
      <ion-grid style="padding-bottom: 0px; ">
        <ion-row>
          <ion-col size="4.2" style="padding-top: 0px; padding-bottom: 0px; ">
            <p class="p-size">Religion</p>
          </ion-col>
          <ion-col style="padding-top: 0px; padding-bottom: 0px;">
            <p class="p-size">{{religion}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="profile-info">
      <ion-grid style="padding-bottom: 0px; ">
        <ion-row>
          <ion-col size="4.2" style="padding-top: 0px; padding-bottom: 0px; ">
            <p class="p-size">Tribe</p>
          </ion-col>
          <ion-col style="padding-top: 0px; padding-bottom: 0px;">
            <p class="p-size">{{tribe}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="profile-info">
      <ion-grid style="padding-bottom: 0px; ">
        <ion-row>
          <ion-col size="4.2" style="padding-top: 0px; padding-bottom: 0px; ">
            <p class="p-size">Height</p>
          </ion-col>
          <ion-col style="padding-top: 0px; padding-bottom: 0px;">
            <p class="p-size">{{height}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="profile-info">
      <ion-grid style="padding-bottom: 0px; ">
        <ion-row>
          <ion-col size="4.2" style="padding-top: 0px; padding-bottom: 0px; ">
            <p class="p-size">Complexion</p>
          </ion-col>
          <ion-col style="padding-top: 0px; padding-bottom: 0px;">
            <p class="p-size">{{complexion}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="profile-info">
      <ion-grid style="padding-bottom: 0px; ">
        <ion-row>
          <ion-col size="4.2" style="padding-top: 0px; padding-bottom: 0px; ">
            <p class="p-size">Disability</p>
          </ion-col>
          <ion-col style="padding-top: 0px; padding-bottom: 0px;">
            <p class="p-size">{{disability}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="profile-info" style="padding-bottom: 20px;">
      <ion-grid style="padding-bottom: 0px; ">
        <ion-row>
          <ion-col size="4.2" style="padding-top: 0px; padding-bottom: 0px; ">
            <p class="p-size">Disability Type</p>
          </ion-col>
          <ion-col style="padding-top: 0px; padding-bottom: 0px;">
            <p class="p-size">{{disabilitytype}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div> -->
    <!-- ------------------------------------------------------------------------------ -->
    <div class="second-section">
      <div class="group">
        <h1 class="heading">Language & Skills</h1>
        <div class="badges" style="padding-bottom: 17px;">
          <ion-chip class="badge-style" (click)="delskill(i,item)" *ngFor="let item of skills;let i = index;">
            <ion-label class="label">{{item.skill}}</ion-label>
            <ion-icon name="close-circle-outline" style="color: #fff;"></ion-icon>
          </ion-chip>
          <!-- <ion-badge class="badge-style badge-style2 ba-con">Spansih</ion-badge>
          <ion-badge class="badge-style badge-style2 ba-con" style="margin-right: 13px;">MySQL</ion-badge>
          <ion-badge class="badge-style badge-style1 ba-con">Angular</ion-badge>
          <ion-badge class="badge-style badge-style1 ba-con" style="margin-left: 0px;">React.js</ion-badge> -->
        </div>
      </div>
    </div>

    <div class="third-section">
      <div class="edu-group">
        <h2 class="heading2">Education</h2>
        <div *ngFor="let edu of educationdetails;let i=index;" style="margin-top:2%;">
          <div style="display:flex;align-items: center">
            <h1 class="gradu">Institution</h1>
            <img src="assets/imgs/icons/delete.svg" class="delimg" (click)="deledu(i,edu)">
            <img src="assets/imgs/icons/yellowdropdown.svg" *ngIf="(edu.isdown)" (click)="open(i,edu)">
            <img src="assets/imgs/icons/up.png" *ngIf="!(edu.isdown)" width="8px" height="8px" (click)="open(i,edu)">
          </div>
          <!-- <h1 class="gradu">Institution</h1> -->
          <div *ngIf="(edu.isdown)" style="border-bottom: 1px solid #cbcdd5;padding-bottom: 5px;margin-top: 2%">
            <p class="edu-para">{{edu.institution}}</p>
            <h1 class="gradu">Graduation</h1>
            <p class="edu-para">{{edu.min_qualification}}</p>

            <div class="edu-detail2">
              <h2 class="edu-ls-detail" style="padding-right: 33px;">{{edu.start_date}}-{{edu.end_date}}</h2>
              <!-- <h2 class="edu-ls-detail">United Kingdoms</h2> -->
            </div>
          </div>

        </div>

      </div>
    </div>

    <div class="fourth-section">
      <div class="employe-group">
        <h2 class="heading2" style="margin: 0px 80px 0px;">Employment History</h2>
        <div *ngFor="let emp of employhistorydetails;let i=index;" style="margin-top:2%;">
          <!-- <p class="edu-para">Pippa Swan</p> -->
          <div style="display:flex;align-items: center;">
            <p class="gradu">{{emp.job_title}}</p>
            <img src="assets/imgs/icons/delete.svg" class="delimg" (click)="delhistory(i,emp)">
            <img src="assets/imgs/icons/yellowdropdown.svg" *ngIf="(emp.isdown)" (click)="opendetail(i,emp)">
            <img src="assets/imgs/icons/up.png" *ngIf="!(emp.isdown)" width="8px" height="8px"
              (click)="opendetail(i,emp)">
          </div>


          <!-- <div class="list-div" style="margin-top: 10px;">
          <ul style="display: flex; margin: 0px; padding: 0px;">
            <li style="margin: 0px;margin-left: 15px;" class="edu-para">Private Homes</li>
            <li style="margin: 0px;margin-left: 22px;" class="edu-para">Master Planning</li>
            <li style="margin: 0px;margin-left: 22px;" class="edu-para">Reports</li>
          </ul>
        </div> -->
          <div *ngIf="(emp.isdown)" style="border-bottom: 1px solid #cbcdd5;padding-bottom: 5px;">
            <p class="edu-para" style="margin-top: 3px; margin-bottom: 10px;">{{emp.responsibilities}}</p>
            <div class="edu-detail2">
              <h2 class="edu-ls-detail" style="padding-right: 33px;">{{emp.start_date}}-{{emp.end_date}}</h2>
              <h2 class="edu-ls-detail">{{emp.country}}</h2>
            </div>
          </div>
        </div>


      </div>
    </div>

    <div class="last-section">
      <div class="certificate-group">
        <h2 class="heading2" style="margin: 0px 79px 0px;">Certifcates & Awards</h2>
        <div *ngFor="let item of certificates;let i=index;" style="margin-top: 2%;">
          <div style=" display:flex;align-items: center;">
            <p class="gradu">{{item.certificate}}</p>
            <img src="assets/imgs/icons/delete.svg" class="delimg" (click)="delcertificate(i,item)">
            <img src="assets/imgs/icons/yellowdropdown.svg" *ngIf="(item.isdown)" (click)="certificatedetail(i,item)">
            <img src="assets/imgs/icons/up.png" *ngIf="!(item.isdown)" width="8px" height="8px"
              (click)="certificatedetail(i,item)">
          </div>
          <div *ngIf="(item.isdown)" style="border-bottom: 1px solid #cbcdd5;padding-bottom: 5px;">
            <div class="edu-detail2">
              <h2 class="edu-ls-detail" style="padding-right: 33px;">{{item.start_date}}-{{item.end_date}}</h2>
            </div>
          </div>
        </div>

      </div>
    </div>


  </div>
</ion-content>


<ion-footer>
  <ion-tabs>

    <ion-fab vertical="bottom" horizontal="center" translucent="true">
      <ion-fab-button (click)="tablink(1)">
        <img src="assets/imgs/Group.svg">
      </ion-fab-button>
    </ion-fab>

    <ion-tab-bar slot="bottom" class="ion-no-border">
      <ion-tab-button (click)="tablink(2)">
        <!-- <ion-icon name="search-outline"></ion-icon> -->
        <img src="assets/imgs/icons/search.svg">
      </ion-tab-button>

      <ion-tab-button class="comments" (click)="tablink(3)">
        <!-- <ion-icon name="heart-outline"></ion-icon> -->
        <img src="assets/imgs/icons/heartimg.svg">
        <!-- <ion-badge *ngIf="new_message">{{new_message}}</ion-badge> -->
      </ion-tab-button>

      <svg height="50" viewBox="0 0 100 50" width="100" xmlns="http://www.w3.org/2000/svg">
        <path d="M100 0v50H0V0c.543 27.153 22.72 49 50 49S99.457 27.153 99.99 0h.01z" fill="red" fill-rule="evenodd">
        </path>
      </svg>

      <ion-tab-button class="notifs" (click)="tablink(4)">
        <img src="assets/imgs/icons/user.svg">
        <!-- <ion-icon name="person-outline"></ion-icon> -->
        <!-- <ion-badge *ngIf="new_activities">{{new_activities}}</ion-badge> -->
      </ion-tab-button>

      <ion-tab-button (click)="tablink(5)">
        <!-- <ion-icon name="settings-outline"></ion-icon> -->
        <img src="assets/imgs/icons/setting.svg">
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-footer>