<ion-header [translucent]="true" class="ion-no-border cheader">
  <ion-toolbar class="headBgGlobal">
    <ion-row>
      <ion-col size="2">
      </ion-col>

      <ion-col class="titleclass" size="8">
        <ion-text class="ctitle">My Resumes</ion-text>
      </ion-col>

      <ion-col size="2" style="padding-top:8px;padding-left:20px;">
        <ion-menu-toggle>
          <ion-buttons>
            <img src="assets/imgs/icons/menu.svg" style="width: 24px;
              height: 24px;">
          </ion-buttons>
        </ion-menu-toggle>
      </ion-col>
    </ion-row>
  </ion-toolbar>

</ion-header>
<ion-content class="bg">
  <div class="wrapper">
    <ion-segment mode="ios" (ionChange)="segmentChanged($event)" #mySegment>
      <ion-segment-button mode="ios" value="UploadResumes">
        <ion-label>Upload Resumes</ion-label>
      </ion-segment-button>
      <ion-segment-button checked mode="ios" value="CoverLetter">
        <ion-label>Cover Letter</ion-label>
      </ion-segment-button>
    </ion-segment>

    <div *ngIf="requestsType=='UploadResumes'">
      <div class="main">
        <div class="phead">Upload Resume</div>
        <p class="para">Upload and save your CV to our system. You can use your uploaded CV to quickly apply for a job.
        </p>
        <div class="field1">
          <ion-input class="input" type="text" placeholder="Title" [(ngModel)]="title"></ion-input>
        </div>
        <div style="text-align: center;">
          <div class="filediv" [class.active]="file==true">
            <img src="assets/imgs/icons/file.svg" *ngIf="file==false">
            <div *ngIf="file==true">
              <img src="assets/imgs/docs.png"
                *ngIf="filetype=='application/vnd.openxmlformats-officedocument.wordprocessingml.document'">
              <img src="assets/imgs/pdf.png" *ngIf="filetype=='application/pdf'">
            </div>
            <p *ngIf="file==false" style="margin:0px;">No File Chosen</p>
          </div>
        </div>
        <p class="para2">Optionally upload a CV no larger than 10MB for file types .pdf .doc .docx .rtf</p>

        <!-- <ion-button class="btn" (click)="fileselected()">Choose File</ion-button> -->
        <input type="file" (change)="fileChangeEvent($event)" class="custom-file-input">
        <ion-button class="btn1">Cancel</ion-button>

      </div>
      <p class="para">Uploaded Resumes</p>
      <div class="grid-div">
        <ion-grid style="--ion-grid-padding: 0px;">
          <ion-row style="background-color: #FFA00A; border-start-end-radius: 5px;
            border-start-start-radius: 5px;">
            <ion-col class="ion-column" size="3">Title</ion-col>
            <ion-col class="ion-column" size="2">Size</ion-col>
            <ion-col class="ion-column" size="4">Uploaded Date</ion-col>
            <ion-col class="ion-column" size="2">Action</ion-col>
          </ion-row>
          <ion-row style="background-color: #FAFAFA;" *ngFor="let media of resumes">
            <!-- <div *ngIf="media.collectionname=='resumes'"> -->
            <ion-col class="ion-column1" size="3" style="display: flex;">
              <ion-checkbox mode="md" class="check" checked="true"></ion-checkbox>
              <span style="margin-left: 5%;">{{media.name}}</span>
            </ion-col>
            <ion-col class="ion-column1" size="2">{{media.filesize.toFixed(0)}}KB</ion-col>
            <ion-col class="ion-column1" size="4">{{media.date}}</ion-col>
            <ion-col class="ion-column1" size="2">
              <ion-row>
                <ion-col size="6" style="text-align: end; padding: 0px;">
                  <img src="assets/imgs/icons/download.svg">
                </ion-col>
                <ion-col size="6" style="padding: 0px;text-align: end;">
                  <img src="assets/imgs/icons/delete.svg">
                </ion-col>
              </ion-row>
            </ion-col>
            <!-- </div> -->

          </ion-row>
          <!-- <ion-row style="background-color: #FAFAFA;">
            <ion-col class="ion-column1" size="3" style="display: flex;">
              <ion-checkbox mode="md" class="check"></ion-checkbox>
              <span style="margin-left: 5%;">My Lagos CV</span>
            </ion-col>
            <ion-col class="ion-column1" size="2">289KB</ion-col>
            <ion-col class="ion-column1" size="4">22/21/22</ion-col>
            <ion-col class="ion-column1" size="2">
              <ion-row>
                <ion-col size="6" style="text-align: end; padding: 0px;">
                  <img src="assets/imgs/icons/download.svg">
                </ion-col>
                <ion-col size="6" style="padding: 0px;text-align: end;">
                  <img src="assets/imgs/icons/delete.svg">
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row> -->
        </ion-grid>
      </div>
    </div>

    <div *ngIf="requestsType=='CoverLetter'">
      <div class="main">
        <div class="phead">Cover Letter</div>
        <p class="para">Write and save your cover letters here.
        </p>
        <div class="field1">
          <ion-input class="input" type="text" placeholder="Title"></ion-input>
        </div>
        <ion-textarea class="msg-box" rows="8" cols="20" placeholder="Send message">
        </ion-textarea>
        <ion-button class="btn">Save</ion-button>
      </div>
      <p class="para">Uploaded Resumes</p>
      <div class="grid-div">
        <ion-grid style="--ion-grid-padding: 0px;">
          <ion-row style="background-color: #FFA00A; border-start-end-radius: 5px;
            border-start-start-radius: 5px;">
            <ion-col class="ion-column" size="4">Title</ion-col>
            <ion-col class="ion-column" size="4">Uploaded Date</ion-col>
            <ion-col class="ion-column" size="4">Action</ion-col>
          </ion-row>
          <ion-row style="background-color: #FAFAFA;">
            <ion-col class="ion-column1" size="4" style="display: flex;">
              <ion-checkbox mode="md" class="check" checked="true"></ion-checkbox>
              <span style="margin-left: 5%;">My Lagos CV</span>
            </ion-col>
            <ion-col class="ion-column1" size="4">22/21/22</ion-col>
            <ion-col class="ion-column1" size="4">
              <img src="assets/imgs/icons/delete.svg">
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </div>



</ion-content>
<ion-footer>
  <ion-tabs>

    <ion-fab vertical="bottom" horizontal="center" translucent="true">
      <ion-fab-button (click)="tablink(1)">
        <img src="assets/imgs/Group.svg">
      </ion-fab-button>
    </ion-fab>

    <ion-tab-bar slot="bottom" class="ion-no-border">
      <ion-tab-button (click)="tablink(2)">
        <!-- <ion-icon name="search-outline"></ion-icon> -->
        <img src="assets/imgs/icons/search.svg">
      </ion-tab-button>

      <ion-tab-button class="comments" (click)="tablink(3)">
        <!-- <ion-icon name="heart-outline"></ion-icon> -->
        <img src="assets/imgs/icons/heartimg.svg">
        <!-- <ion-badge *ngIf="new_message">{{new_message}}</ion-badge> -->
      </ion-tab-button>

      <svg height="50" viewBox="0 0 100 50" width="100" xmlns="http://www.w3.org/2000/svg">
        <path d="M100 0v50H0V0c.543 27.153 22.72 49 50 49S99.457 27.153 99.99 0h.01z" fill="red" fill-rule="evenodd">
        </path>
      </svg>

      <ion-tab-button class="notifs" (click)="tablink(4)">
        <img src="assets/imgs/icons/user.svg">
        <!-- <ion-icon name="person-outline"></ion-icon> -->
        <!-- <ion-badge *ngIf="new_activities">{{new_activities}}</ion-badge> -->
      </ion-tab-button>

      <ion-tab-button (click)="tablink(5)">
        <!-- <ion-icon name="settings-outline"></ion-icon> -->
        <img src="assets/imgs/icons/setting.svg">
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-footer>
