<ion-header [translucent]="true" class="ion-no-border cheader">
  <ion-toolbar class="headBgGlobal">
    <ion-row>
      <ion-col style="padding-top:10px;text-align: center;" size="2">
      </ion-col>

      <ion-col class="titleclass" size="8">
        <ion-text class="ctitle">Interviews</ion-text>
      </ion-col>

      <ion-col size="2" style="padding-top:8px;padding-left:20px;">
        <ion-menu-toggle>
          <ion-buttons>
            <img src="assets/imgs/icons/menu.svg" style="width: 24px;
              height: 24px;">
          </ion-buttons>
        </ion-menu-toggle>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content class="bg">
  <div class="wrapper">
    <div class="logo">
      <img src="assets/imgs/interviewlogo.svg">
    </div>
    <div style="font-size:18px;font-weight:600;text-align:center;" *ngIf="interviews==undefined">No Interviews</div>
    <div class="main" *ngIf="interviews!=undefined">
      <div style="display: flex;padding: 10px 10px 0px 10px;">
        <div class="mainleft">
          <div class="mainhead">UX UI Designer</div>
          <div class="innertext">
            <div class="maintext">John Doe</div>

            <img src="assets/imgs/icons/greentick.svg" style="margin-left: 3%;">

          </div>
          <div style="display: flex;">

            <img src="assets/imgs/Line2.svg">

            <div style="width: 100%;margin-left: 5%;margin-top: 2%;">
              <p>Saturday 26 Oct 2021</p>
              <p>10:00 AM - 5:00 PM</p>
              <p>Google Meetings</p>
              <p style="color: #CECECE !important;">meet.google.com/jht-gvv-vdff</p>
            </div>

          </div>

        </div>
        <div style="width: 100%;text-align: end;">
          <img src="assets/imgs/jobimage.svg">
        </div>
      </div>

      <div style="display: flex;align-items: center;">
        <div style="display: flex;align-items: center; width: 100%;padding-left: 5%;">
          <img src="assets/imgs/greentick.svg">
          <div style="font-size:10px;margin-left: 5%;">Intrested</div>
        </div>
        <div style="display: flex;align-items: center; width: 100%;">
          <img src="assets/imgs/redcross.svg">
          <div style="font-size:10px;margin-left: 5%;">Not Intrested</div>
        </div>
        <div class="scrollable-div">
          <div *ngFor="let gList of msgsList1;let i=index">

            <div [class.paddLeft]="i!=0">
              <div class="relative ">
                <ion-avatar class="main-avatar">
                  <img src="{{gList.image}}">
                </ion-avatar>
              </div>
            </div>
          </div>
          <span style="color:#5E5873;font-size: 12px;
          margin-top: 2%;
          margin-left: 3%;">+5</span>
        </div>
      </div>


    </div>

    <!-- <div class="main">
      <div style="display: flex;padding: 10px 10px 0px 10px;">
        <div class="mainleft">
          <div class="mainhead">UX UI Designer</div>
          <div class="innertext">
            <div class="maintext">John Doe</div>

            <img src="assets/imgs/icons/greentick.svg" style="margin-left: 3%;">

          </div>
          <div style="display: flex;">

            <img src="assets/imgs/Line2.svg">

            <div style="width: 100%;margin-left: 5%;margin-top: 2%;">
              <p>Saturday 26 Oct 2021</p>
              <p>10:00 AM - 5:00 PM</p>
              <p>Google Meetings</p>
              <p style="color: #CECECE !important;">meet.google.com/jht-gvv-vdff</p>
            </div>

          </div>

        </div>
        <div style="width: 100%;text-align: end;">
          <img src="assets/imgs/jobimage.svg">
        </div>
      </div>

      <div style="display: flex;align-items: center;">
        <div style="display: flex;align-items: center; width: 100%;padding-left: 5%;">
          <img src="assets/imgs/greentick.svg">
          <div style="font-size:10px;margin-left: 5%;">Intrested</div>
        </div>
        <div style="display: flex;align-items: center; width: 100%;">
          <img src="assets/imgs/redcross.svg">
          <div style="font-size:10px;margin-left: 5%;">Not Intrested</div>
        </div>
      </div>


    </div> -->
  </div>
</ion-content>
<ion-footer>
  <ion-tabs>

    <ion-fab vertical="bottom" horizontal="center" translucent="true">
      <ion-fab-button (click)="tablink(1)">
        <img src="assets/imgs/Group.svg">
      </ion-fab-button>
    </ion-fab>

    <ion-tab-bar slot="bottom" class="ion-no-border">
      <ion-tab-button (click)="tablink(2)">
        <!-- <ion-icon name="search-outline"></ion-icon> -->
        <img src="assets/imgs/icons/search.svg">
      </ion-tab-button>

      <ion-tab-button class="comments" (click)="tablink(3)">
        <!-- <ion-icon name="heart-outline"></ion-icon> -->
        <img src="assets/imgs/icons/heartimg.svg">
        <!-- <ion-badge *ngIf="new_message">{{new_message}}</ion-badge> -->
      </ion-tab-button>

      <svg height="50" viewBox="0 0 100 50" width="100" xmlns="http://www.w3.org/2000/svg">
        <path d="M100 0v50H0V0c.543 27.153 22.72 49 50 49S99.457 27.153 99.99 0h.01z" fill="red" fill-rule="evenodd">
        </path>
      </svg>

      <ion-tab-button class="notifs" (click)="tablink(4)">
        <img src="assets/imgs/icons/user.svg">
        <!-- <ion-icon name="person-outline"></ion-icon> -->
        <!-- <ion-badge *ngIf="new_activities">{{new_activities}}</ion-badge> -->
      </ion-tab-button>

      <ion-tab-button (click)="tablink(5)">
        <!-- <ion-icon name="settings-outline"></ion-icon> -->
        <img src="assets/imgs/icons/setting.svg">
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-footer>
