.ctitle{
	// text-align: center;
  font-size: 18px;
    color: #FABA52;
}
.titleclass{
	text-align: center;
  padding-top: 7px;
}
.ios{
	.titleclass{
		text-align: center; padding-top: 8px;
	}
}
.wrapper{
  width: 90%;
  margin: 5% auto 20%;
}
.field1{
  background: #fff;
  padding-top: 15px;
  padding-bottom: 12px;
  padding-left: 15px;
    // box-shadow: rgb(0 0 0 / 35%) 0px 3px 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 10px 0px;
    border-radius: 5px;
    font-size: 12px;
    color: #191919;
    margin: 5% auto;
}


.text1{
  font-size: 16px;
  color: #191919;
  font-weight: 600;
}
.text2{
  font-size: 14px;
  color: #191919;
}
.btn{
  height: 40px;
  --border-radius: 5px;
  --background: #FFA00A;
  width: 100%;
}


