<ion-content class="bg">
  <ion-header class="ion-no-border">
    <ion-toolbar class="headBg">
      <div class="header">
        <div class="back-btn">
          <img src="assets/imgs/backarrow.svg" (click)="back()" class="backSvg">
        </div>
      </div>
    </ion-toolbar>
  </ion-header>
  <div class="wrapper">
    <div class="logodiv">
      <img src="assets/imgs/logo.svg">
    </div>

    <!---------  email recovery div -------------------->
    <div *ngIf="displayEmailSend" class="main">
      <div class="text">Forgot Password?</div>
      <div class="para">Enter your Email Address</div>
      <div class="inputfields">

        <ion-input class="input" value="" type="email" placeholder="Your Email Address" [(ngModel)]="email">
        </ion-input>

      </div>
      <!-- <p *ngIf="emailError.status" class="error">
        {{emailError.message}}
      </p>
      <p *ngIf="error.status" class="error">
        {{error.message}}
      </p> -->
    </div>
    <!---------  end email recovery div -------------------->

    <!-- --------dispaly otp fields -------------------->
    <div *ngIf="displayPinCode" class="pinmain">
      <div class="otpttxt">Forgot Password</div>
      <p class="para1">Enter code sent to you via Email</p>
      <p class="para2">Joh*******@gmail.com</p>
      <div class="pincode">
        <ion-input #Field1 (keyup)="next($event,Field2,Field1)" class="pinInput" maxlength="1" size="1" type="tel"
          value=""></ion-input>
        <ion-input #Field2 (keyup)="next($event,Field3,Field1)" class="pinInput" maxlength="1" size="1" type="tel"
          value=""></ion-input>
        <ion-input #Field3 (keyup)="next($event,Field4,Field2)" class="pinInput" maxlength="1" size="1" type="tel"
          value=""></ion-input>
        <ion-input #Field4 (keyup)="next($event,Field4,Field3)" class="pinInput" maxlength="1" size="1" type="tel"
          value=""></ion-input>
      </div>
      <!-- <div class="footer">
        <p style="font-size: 10px; color:#FFFFFF">
          Didn't received the OTP?<b style="font-size: 10px; font-weight:400; color:#F71138;margin-left: 1%;">Resend
          </b>
          <span style="color: #666666;font-size: 10px;">0:52</span>
        </p>
      </div> -->
      <!-- <p *ngIf="pinError.status" class="error">{{pinError.message}}</p>
      <p *ngIf="error.status" class="error">{{error.message}}</p> -->
    </div>
    <!-- --------end dispaly otp fields -------------------->

    <!-- -----------reset password fields ----------------->
    <div *ngIf="displayChangePassword" class="inputs">
      <div class="otpttxt">New Password</div>
      <p class="para1">Enter new password</p>
      <div class="field1">

        <ion-input class="input" value="" type="password" placeholder="Password">
        </ion-input>

      </div>
      <!-- <p *ngIf="newPassError.status" class="error">{{newPassError.message}}</p> -->

      <div class="field2">

        <ion-input class="input" value="" type="password" placeholder="Confirm Password">
        </ion-input>

      </div>
      <!-- <p *ngIf="confPassError.status" class="error">{{confPassError.message}}</p>

      <p *ngIf="error.status" class="error">{{error.message}}</p> -->
    </div>
    <!-- -----------reset password fields ----------------->

    <div class="btndiv" *ngIf="displayEmailSend">
      <ion-button class="btn" (click)="sendEmail()">
        Login
      </ion-button>
    </div>
    <div class="otpbtndiv" *ngIf="displayPinCode">
      <ion-button class="btn_otp" (click)="ok()">
        Login
      </ion-button>
    </div>

    <ion-button class="btn_reset" *ngIf="displayChangePassword" (click)="reset()">
      Login
    </ion-button>
  </div>

</ion-content>
