.background{
  background:#fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 10px 0px;
}
.wrapper{
  width: 90%;
    margin: 10% auto;
}
p{
  font-size: 16px;
  color: #212A37;
  padding: 20px 40px;
}
