.ctitle{
	// text-align: center;
  font-size: 18px;
    color: #FABA52;
}
.titleclass{
	text-align: center;
  padding-top: 7px;
}
.ios{
	.titleclass{
		text-align: center; padding-top: 8px;
	}
}
.wrapper{
  width: 80%;
  margin: 5% auto 20%;
}
.imglogo{
  text-align: center;
}
.para{
  color: #191919;
  font-size: 12px;
  padding: 0px 55px;
}
.main{
  margin-top: 10%;
}
.text{
  color: #191919;
  font-size: 12px;
  margin-top: 3%
}
.box3{
  background: #fff;
  box-shadow: rgb(100 100 111 / 20%) 0px 5px 10px 0px;
  border-radius: 5px;
  margin-top: 2%;
  font-weight: 300;
}
.input4{
  --background:transparent;
  --padding-top: 15px;
  --padding-bottom: 12px;
  --padding-start: 15px;
  // box-shadow: rgb(0 0 0 / 35%) 0px 3px 5px;
  // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 10px 0px;
  border-radius: 5px;
  font-size: 12px;
  opacity: 60%;
  color: #191919;
}
.para1{
  margin: 0px 0px 5px 0px;
  padding: 0px 15px;
  color: #CECECE;
  font-size: 12px;
  opacity: 60%;
}
.active{
  color: #191919;
  font-size: 12px;
  opacity: 60%;
  margin: 0px 0px 5px 0px;
  padding: 0px 15px;
}
.box4{
  background: #fff;
  box-shadow: rgb(100 100 111 / 20%) 0px 5px 10px 0px;
  border-radius: 5px;
  margin-top: 6%;
  font-weight: 300;
}
.msg-box{
  background: #fff;
  box-shadow: rgb(100 100 111 / 20%) 0px 5px 10px 0px;
  border-radius: 5px;
  margin-top: 6%;
  --padding-start: 15px;
  border-radius: 5px;
  font-size: 12px;
  opacity: 60%;
  color: #191919;
}

.btn1{
  height: 40px;
  --border-radius: 5px;
  --background: #FFA00A;
  width: 100%;
}


ion-tabs{
	ion-fab {
		margin-bottom: env(safe-area-inset-bottom); /* fix notch ios*/
		ion-fab-button {
      --box-shadow: rgba(100, 100, 111, 0.2) 0px 0px 10px 0px;
      --background: none;
		}
	}
	ion-tab-bar {
		--border: 0;
		--background: transparent;
		position: absolute;
		bottom: 0;
		left:0; right: 0;
		width: 100%;
		&:after{
			content: " ";
			width: 100%;
			bottom: 0;
			background: var(--ion-color-light);
			height: env(safe-area-inset-bottom);
			position: absolute;
		}
		ion-tab-button {
      background:#fff;
      ion-icon{
        color:#42474F;
      }
		}
		ion-tab-button.comments {
			margin-right: 0px;
			border-top-right-radius: 18px;
		}
		ion-tab-button.notifs {
			margin-left: 0px;
			border-top-left-radius: 18px;
		}
		svg {
			width: 72px;
			margin-top: 19px;
			path{
        fill:#fff;
			}
		}
	}
}
