<ion-header [translucent]="true" class="ion-no-border cheader">
  <ion-toolbar class="headBgGlobal">
    <ion-row>
      <ion-col style="padding-top:10px;text-align: center;" size="2">

        <img src="assets/imgs/icons/back.svg" class="topicon" (click)="goback()">

      </ion-col>

      <ion-col class="titleclass" size="8">
        <ion-text class="ctitle">Report A Scam</ion-text>
      </ion-col>

      <ion-col size="2" style="padding-top:8px;padding-left:20px;">
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content class="bg">
  <div class="wrapper">
    <div class="imglogo">
      <img src="assets/imgs/manlogo.svg">
      <p class="para">Do you want to report scam or unacceptable behavior to us?</p>
    </div>
    <div class="main">
      <div class="text">Select behavior type</div>
      <!-- Select behavior type -->
      <div class="box3">
        <div style="align-items: center;display: flex;padding-right: 15px;">
          <ion-input class="input4" type="text" placeholder="Select behaviour type" (click)="openlist()" readonly
            [(ngModel)]="behaviour_type">
          </ion-input>
          <div style="text-align: end;height: 17px;" *ngIf="droplist==false">
            <ion-icon name="caret-down-outline" class="cicon"></ion-icon>
          </div>
          <div style="text-align: end;height: 17px;" *ngIf="droplist==true">
            <ion-icon name="caret-up-outline" class="cicon"></ion-icon>
          </div>
        </div>
        <div *ngIf="droplist==true" style="padding-bottom:1%;">
          <p *ngFor="let ls of list;let i=index" class="para1" [class.active]="ls.status=='checked'"
            (click)="select(i,ls)">
            {{ls.name}}
            <span style="float:right ;">
              <img src="assets/imgs/icons/unchecked.svg" *ngIf="ls.status=='unchecked'" (click)="openlist()">
              <img src="assets/imgs/icons/checked.svg" *ngIf="ls.status=='checked'" (click)="openlist()">
            </span>
          </p>
        </div>
      </div>
      <!-- Select behavior type -->
      <div class="text">Type of complain<span style="color:#CF1818">*</span></div>
      <div class="box3">
        <div style="align-items: center;display: flex;padding-right: 15px;">
          <ion-input class="input4" type="text" placeholder="Select complaint type" readonly [(ngModel)]="complain_type"
            (click)="opencomplain()">
          </ion-input>
          <div style="text-align: end;height: 17px;" *ngIf="showcomplain==false">
            <ion-icon name="caret-down-outline" class="cicon"></ion-icon>
          </div>
          <div style="text-align: end;height: 17px;" *ngIf="showcomplain==true">
            <ion-icon name="caret-up-outline" class="cicon"></ion-icon>
          </div>
        </div>
        <div *ngIf="showcomplain==true" style="padding-bottom:1%;">
          <p *ngFor="let ls of complainlist;let i=index" class="para1" [class.active]="ls.status=='checked'"
            (click)="selectcomplain(i,ls)">
            {{ls.name}}
            <span style="float:right ;">
              <img src="assets/imgs/icons/unchecked.svg" *ngIf="ls.status=='unchecked'" (click)="opencomplain()">
              <img src="assets/imgs/icons/checked.svg" *ngIf="ls.status=='checked'" (click)="opencomplain()">
            </span>
          </p>
        </div>
      </div>

      <div class="box4">
        <ion-input class="input4" type="text" placeholder="First name" [(ngModel)]="firstname">
        </ion-input>
      </div>
      <div class="box4">
        <ion-input class="input4" type="text" placeholder="Surname" [(ngModel)]="lastname">
        </ion-input>
      </div>
      <div class="box4">
        <ion-input class="input4" type="text" placeholder="Contact number" [(ngModel)]="phonenumber">
        </ion-input>
      </div>
      <div class="box4">
        <ion-input class="input4" type="text" placeholder="Registered email" [(ngModel)]="email">
        </ion-input>
      </div>
      <div class="box4">
        <ion-input class="input4" type="text" placeholder="Employer name (optional)">
        </ion-input>
      </div>
      <div class="box4">
        <ion-textarea class="msg-box" rows="3" cols="20" placeholder="Details" [(ngModel)]="details"></ion-textarea>
      </div>

    </div>
    <div style="width: 90%;margin: 0% auto;">
      <ion-button class="btn1" (click)="reportscam()">Report</ion-button>
    </div>
  </div>
</ion-content>
<ion-footer>
  <ion-tabs>

    <ion-fab vertical="bottom" horizontal="center" translucent="true">
      <ion-fab-button (click)="tablink(1)">
        <img src="assets/imgs/Group.svg">
      </ion-fab-button>
    </ion-fab>

    <ion-tab-bar slot="bottom" class="ion-no-border">
      <ion-tab-button (click)="tablink(2)">
        <!-- <ion-icon name="search-outline"></ion-icon> -->
        <img src="assets/imgs/icons/search.svg">
      </ion-tab-button>

      <ion-tab-button class="comments" (click)="tablink(3)">
        <!-- <ion-icon name="heart-outline"></ion-icon> -->
        <img src="assets/imgs/icons/heartimg.svg">
        <!-- <ion-badge *ngIf="new_message">{{new_message}}</ion-badge> -->
      </ion-tab-button>

      <svg height="50" viewBox="0 0 100 50" width="100" xmlns="http://www.w3.org/2000/svg">
        <path d="M100 0v50H0V0c.543 27.153 22.72 49 50 49S99.457 27.153 99.99 0h.01z" fill="red" fill-rule="evenodd">
        </path>
      </svg>

      <ion-tab-button class="notifs" (click)="tablink(4)">
        <img src="assets/imgs/icons/user.svg">
        <!-- <ion-icon name="person-outline"></ion-icon> -->
        <!-- <ion-badge *ngIf="new_activities">{{new_activities}}</ion-badge> -->
      </ion-tab-button>

      <ion-tab-button (click)="tablink(5)">
        <!-- <ion-icon name="settings-outline"></ion-icon> -->
        <img src="assets/imgs/icons/setting.svg">
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-footer>
