/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

*{
	font-family: 'Poppins', sans-serif;
}
ion-toolbar{
  --background: #F3F3F3;
}

ion-input{
  color:#191919  !important;
  --placeholder-color:#191919  !important;
}
.bg{
  --background: #F3F3F3;
}

.filterclass{
  --max-width: 90%;
  --width: 90%;
  background-color:rgba(243,243,243, 0.2) !important;
}
.swiper-pagination {
  // position: absolute;
  // top: 360px;
  // padding-bottom: 15px;
  --bullet-background:#FFA00A;
  --bullet-background-active:var(--bullet-background);
  bottom: 55px !important;
}
.popupclass{
  --max-height: 55%;
  --max-width: 90%;
  --width: 90%;
  --height: 30%;
}
.loading-wrapper{
  --background: transparent!important;
  box-shadow: none!important;
  width: 25%!important;
}

.sc-ion-loading-md{
  --background: none;
}
.loadingdiv{
  --background: transparent!important;
}

// .searchbar-search-icon.sc-ion-searchbar-md {
//   position: absolute !important;
//   left: 272px !important;
//   top: 11px  !important;
//   width: 21px  !important;
//   height: 21px  !important;
// }
.searchbar-search-icon.sc-ion-searchbar-md, .searchbar-cancel-button.sc-ion-searchbar-md {
  position: absolute !important;
  color: #FFA00A !important;
}
.sc-ion-searchbar-md-h {
  --background: var(--ion-background-color, #fff);
  --border-radius: 5px !important;
  --box-shadow: none !important;
  --cancel-button-color: var(--ion-color-step-900, #1a1a1a);
  --clear-button-color: initial;
  --color: var(--ion-color-step-850, #262626);
  --icon-color: var(--ion-color-step-600, #666666);
    // padding-left: 8px;
    // padding-right: 8px;
    // padding-top: 8px;
    // padding-bottom: 8px;
    // background: inherit;
    padding: 0px !important;
}
//  iframe{
//   height:160px !important;
//  }
.flutterwave-pay-button{
  background-color: #f5a623;
  border-radius: 4px;
  border-color: #f5a623;
  -webkit-box-shadow: 0 2px 3px 0 #ccc;
  box-shadow: 0 2px 3px 0 #ccc;
  color: #fff;
  display: block;
  font-size: 12px;
  font-weight: 700;
  padding: 14px 22px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  width: 80%;
  margin: 0% auto;
}
